{% extends 'shared.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}Background|mandate{% endblock %}

{% block content %}
<section class="hero-area">
    <div class="page-title-banner">
        <div class="container">
            <div class="content-wrapper">
                <h2>Background | Mandate</h2>
                <ul class="bread-crumb">
                    <li><a href="/">Home</a></li>
                    <li><a href="#">Background | Mandate</a></li>
                </ul>
            </div> <!-- .content-wrapper -->
        </div> <!-- .container -->
    </div> <!-- .page-title-banner -->
</section> <!-- .hero-area -->
<section class="shortcode-section section-block">
    <div class="container">
        <h2 class="section-title">Background | Mandate</h2>
        <div>
            <p>The Competition and Tariff Commission (Commission) is a statutory body established under the Competition
                Act [<em>Chapter 14:28</em>]. The present Commission is a product of the merger in 2001 of the former
                Industry and Trade Competition Commission (ITCC) and Tariff Commission (TC). The ITCC had been
                established under the Competition Act, 1996 (No.7 of 1996) as a competition regulatory authority, while
                the TC had been established under the Tariff Commission Act [&nbsp;<em>Ch</em>apter&nbsp;<em>14:29</em>]
                as a trade tariffs advisory authority. Both the ITCC and TC had commenced operations in 1998. The merger
                of the ITCC and TC was provided for under the Competition Amendment Act, 2001 (No.29 of 2001), which
                also repealed the Tariff Commission Act [<em>Chapter 14:29</em>].</p>

            <p>The Commission therefore has the twin mandates of implementing&nbsp; Zimbabwe&rsquo;s competition policy
                and execution of the country&rsquo;s trade tariffs policy, with the primary objective of enforcing the
                Competition Act [<em>Chapter 14:28</em>]</p>

            <h3><strong>Box 1: Statutory Functions of the Commission</strong></h3>

            <p>The statutory functions of the Commission in terms of section 5 of the Competition Act [<em>Chapter
                    14:28</em>] are:</p>

            <ol>
                <li>to encourage and promote competition in all sectors of the economy;</li>
                <li>to reduce barriers to entry into any sector of the economy or to any form of economic activity;</li>
                <li>to investigate, discourage and prevent restrictive practices;</li>
                <li>to study trends towards increased economic concentration, with a view to the investigation of
                    monopoly situations and the prevention of such situations, where they are contrary to the public
                    interest;</li>
                <li>to advise the Minister of Industry and Commerce in regard to all aspects of economic competition,
                    including entrepreneurial activities carried on by institutions directly or indirectly controlled by
                    the State, and the formulation, co-ordination, implementation and administration of Government
                    policy in regard to economic competition;</li>
                <li>to provide information to interested persons on current policy with regard to restrictive practices,
                    acquisitions and monopoly situations, to serve as guidelines for the benefit of those persons;</li>
                <li>to undertake investigations and make reports to the Minister of Industry, Commerce and Enterprise
                    Development relating to tariff charges, unfair trade practices and the provision of assistance or
                    protection to local industry;</li>
                <li>to monitor prices, costs and profits in any industry or business that the Minister of Industry,
                    Commerce and Enterprise Development directs the Commission to monitor, and to report its findings to
                    the Minister; and</li>
                <li>to perform any other functions that may be conferred or imposed on the Commission by the Act or any
                    other enactment.</li>
            </ol>

            <h3><strong>2. Mission Statement</strong></h3>

            <p><strong><em>Vision :&nbsp;</em></strong>&ldquo;A Zimbabwe with fair markets, vibrant industry and
                enhanced consumer welfare by 2030&rdquo;</p>

            <p><em><strong>Mission :</strong></em>&nbsp;&quot;To promote and maintain competition and fair trade in all
                sectors of the economy of Zimbabwe&rdquo;</p>

            <p><em><strong>Values :</strong></em></p>

            <ul>
                <li>
                    <p>Professionalism</p>
                </li>
                <li>
                    <p>Integrity</p>
                </li>
                <li>
                    <p>Transparency</p>
                </li>
                <li>
                    <p>Innovation</p>
                </li>
                <li>
                    <p>Timeliness</p>
                </li>
                <li>
                    <p>Teamwork</p>
                </li>
            </ul>
            <p>&nbsp;</p>
            <p>&nbsp;</p>
        </div>
    </div> <!-- .container -->
</section> <!-- .shortcode-section -->


{% endblock %}